@media only screen and (min-width: 992px) {
  /* header section start */
  p {
    font-size: 16px;
    color: #707070;
  }
  .container {
    max-width: 1100px;
    margin: 0 auto;
  }
  #menu {
    display: none;
  }
  .navList ul {
    display: block;
  }
  .navList ul {
    display: flex;
    list-style-type: none;
    align-items: center;
  }

  .navList ul li {
    padding: 0px 20px;
  }

  .navList ul li:last-child {
    padding-right: 0px;
  }

  .navList ul li a {
    text-transform: capitalize;
    font-weight: 400;
    font-size: 14px;
  }
  .navList ul input {
    border: none;
    padding: 10px 30px;
    border-radius: 30px;
    outline: none;
    background-color: #f8f8f8;
  }
  /* header section end */
  /* main section start */
  /* slider section start */
  .sliderContent {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  .sliderWrap {
    padding: 40px;
  }
  .sliderDesc {
    width: 48%;
  }
  .sliderImg {
    width: 48%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  /* slider section end */
  /* Categories Section start  */
  .singleCate h1 {
    font-size: 30px;
    color: white;
  }
  .cate {
    font-size: 30px;
  }
  /* Categories Section end */
  /* shoes section start */
  .singleShoes {
    width: 31%;
  }
  .shoesWrap {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
  }

  /* shoes section end */
  /* main section start */
}
